@ponicode:registry=https://pkgs.dev.azure.com/ponicodedevops/Ponicode/_packaging/npm-registry/npm/registry/
always-auth=true
tag-version-prefix=

//pkgs.dev.azure.com/ponicodedevops/Ponicode/_packaging/npm-registry/npm/registry/:username=ponicodedevops
//pkgs.dev.azure.com/ponicodedevops/Ponicode/_packaging/npm-registry/npm/registry/:_password=${NPM_AUTH_SECRET}
//pkgs.dev.azure.com/ponicodedevops/Ponicode/_packaging/npm-registry/npm/registry/:email=baptiste@ponicode
//pkgs.dev.azure.com/ponicodedevops/Ponicode/_packaging/npm-registry/npm/:username=ponicodedevops
//pkgs.dev.azure.com/ponicodedevops/Ponicode/_packaging/npm-registry/npm/:_password=${NPM_AUTH_SECRET}
//pkgs.dev.azure.com/ponicodedevops/Ponicode/_packaging/npm-registry/npm/:email=baptiste@ponicode
//registry.npmjs.org/:_authToken=xxxxxxxx
